<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Livro</title>
</head>
<body>
<form method="post" th:action="@{/livros/cadastrar}" th:object="${livro}">
    <h2>Cadastro de Livro</h2>
    <input type="hidden" th:field="*{id}">
    <br>
    <div>
        <label for="titulo">Título:</label> <input type="text" id="titulo" th:field="*{titulo}">
    </div>
    <div>
        <label for="autor">Autor:</label> <input type="text" id="autor" th:field="*{autor}">
    </div>
    <div>
        <label for="genero">Gênero:</label>
        <select id="genero" th:field="*{genero}">
            <option value="" disabled selected>Selecione...</option>
            <option th:each="gen : ${generos}" th:value="${gen}" th:text="${gen.descricao}"></option>
        </select>
    </div>
    <div>
        <label for="paginas">Número de Páginas:</label> <input type="number" id="paginas" th:field="*{paginas}">
    </div>
    <div>
        <label for="editora">Editora:</label> <input type="text" id="editora" th:field="*{editora}">
    </div>
    <div>
        <label for="isbn">ISBN:</label> <input type="text" id="isbn" th:field="*{isbn}">
    </div>
    <div>
        <label for="dataPublicacao">Data de Publicação:</label> <input type="date" id="dataPublicacao" th:field="*{dataPublicacao}">
    </div>
    <div>
        <label for="preco">Preço:</label> <input type="number" id="preco" th:field="*{preco}">
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
</form>
</body>
</html>